@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #eee;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#main h1 {
    color: #444;
    text-align: center;
}

#main {
    padding: 0px;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
}

#book-list {
    padding: 0;
}

#book-list li {
    display: inline-block;
    margin: 12px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #880e4f;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #880e4f;
}

form {
    background: #fff;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30%;
}

form .field {
    display: grid;
    grid-template-columns: 0.3fr 0.5fr;
    grid-gap: 10px;
}

form label {
    text-align: center;
    padding: 6px;
}

form select,
form input {
    font-family: 'Nunito', sans-serif;
    margin: 4px;
    padding: 6px;
    box-sizing: border-box;
}

form button {
    color: #fff;
    font-size: 2em;
    background: #ad1457;
    border: 0;
    padding: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 5%;
}

#book-details {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: #ad1457;
    padding: 30px;
    overflow: auto;
    box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color: #fff;
}
